:root { 
--white_A700_7f:#ffffff7f; 
--gray_700:#5f5b5b; 
--black_900_8c:#0000008c; 
--red_600:#de3232; 
--white_A700_a2:#ffffffa2; 
--blue_gray_900_bf:#303030bf; 
--blue_gray_900_14:#18274b14; 
--gray_700_7f:#5f5b5b7f; 
--gray_200:#eaeaea; 
--gray_50:#f4f7fe; 
--black_900_00:#00000000; 
--black_900_99:#00000099; 
--black_900:#000000; 
--blue_gray_900_1e:#18274b1e; 
--deep_orange_500:#f96221; 
--blue_gray_900:#303030; 
--white_A700:#ffffff; 
}